.flight-card {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr;
  align-items: center;

  padding: 18px 24px;
  margin-bottom: 14px;

  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
}

/* LEFT */
.airline {
  font-size: 16px;
  font-weight: 600;
}

.flight-no {
  font-size: 12px;
  color: #666;
}

/* MIDDLE */
.flight-middle {
  text-align: center;
}

.route {
  font-size: 16px;
  font-weight: 500;
}

.arrow {
  margin: 0 8px;
}

.status {
  font-size: 12px;
  color: green;
  margin-top: 4px;
}

/* RIGHT */
.flight-right {
  text-align: right;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.flight-right button {
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.flight-right button:hover {
  background: #1e40af;
}
